.services{
    display:flex;
    flex-direction:column;
    gap:70px;
    align-items: center;
    justify-content:center;
    margin: 60px 150px;

}

.service-tittle{
    position: relative;
}
.service-tittle h1{
    font-size:64px;
    font-weight: 600;
    padding: 0 32px;
     

}
.service-tittle img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.service-format{
     
    display: flex;
    flex-direction: column;
    gap:15px;
    border:2px solid white;
    padding:45px;
    border-radius:15px;
    transition:0.5s;
    cursor: pointer;
    
}
.service-data{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:30px;
    margin-bottom: 80px;
}
.service-format h3{
    font-size:25px;
    font-weight:600;
}
.service-format h2{
    font-size:26px;
    font-weight: 800px;
    background:linear-gradient(270deg,#DA7C25 50%,#B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service-format p{
    color:#d4d4d4; 
    font-size:20px;
    line-height:30px;
}
.service-readmore{
    display: flex;
    gap:20px;
    align-items: center;
    margin-top: 15px;

}
.service-format:hover{
    border:2px solid #f7fcfb;
    background-image:linear-gradient(45deg,#189e88,#0a0909);
    transform: scale(1.05);
    transition: 0.4s ;
}