.mywork{
    display: flex;
    flex-direction: column;
    gap:20px; 
    align-items: center;
    margin:40px 150px;
}

.mywork-tittle{
    position: relative;
}
.mywork-tittle h1{
    padding:0px 32px;
    font-size:50px;
    font-weight: 600;
}
.mywork-tittle img{
    position: absolute;
    bottom:0;
    right: 0;
    z-index:-1;
}
.mywork-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
    
}
.mywork-data img{
    
     width: 319px;
     height:280px;
     transition: 0.4s;
     cursor: pointer;

}
.mywork-data img:hover{
    transform:scale(1.1);
    

}
.mywork-more{
    display:flex;
    gap:15px;
    border-radius: 50px;
    border:2px solid #fff;
    padding:10px 15px;
    font-size:22px;
    margin-bottom: 80px;
    transition: 0.4s;
    cursor: pointer;

}
.mywork-more:hover{
    gap:25px;
    transition: 0.3s;
}

